<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="centeredTable playerTable">
        <tr>
            <th>gameId</th>
            <th>Game Date</th>
            <th>Season</th>
            <th>Game Type</th>
            <th>Day/Night</th>
            <th>Game Number</th>
            <th></th>
            <th>Visiting Team</th>
            <th>Visiting City</th>
            <th>Visiting League</th>
            <th></th>
            <th>Home Team</th>
            <th>Home City</th>
            <th>Home League</th>
            <th></th>
            <th>playerId</th>
            <th>playerLastName</th>
            <th>playerFirstName</th>
            <th>playerBats</th>
            <th>playerThrows</th>
            <th></th>
            <th>Player</th>
            <th>Batting Order</th>
            <th>Field Position</th>
        </tr>

        <tr th:each="game : ${gamesPlayer}">
            <td th:text="${game.gameId}"></td>
            <td th:text="${game.date}"></td>
            <td th:text="${game.year }"></td>
            <td th:text="${game.gameTypeText }"></td>
            <td th:text="${game.dayNightText }"></td>
            <td th:text="${game.gameNumText }"></td>
            <td>x</td>
            <td th:text="${game.visitingTeamName }"></td>
            <td th:text="${game.visitingTeamCity }"></td>
            <td th:text="${game.visitingTeamLeagueText }"></td>
            <td>x</td>
            <td th:text="${game.homeTeamName }"></td>
            <td th:text="${game.homeTeamCity }"></td>
            <td th:text="${game.homeTeamLeagueText }"></td>            <td>x</td>
            <td th:text="${game.playerId }"></td>
            <td th:text="${game.playerLastName }"></td>
            <td th:text="${game.playerFirstName }"></td>
            <td th:text="${game.playerBatsText }"></td>
            <td th:text="${game.playerThrowsText }"></td>
            <td >x</td>
            <td th:text="${game.playerVisitHomeText }"></td>
            <td th:text="${game.playerBattingOrder }"></td>
            <td th:text="${game.playerFieldPositionText }"></td>
        </tr>
    </table>

</div>

</body>
</html>