<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">


    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div class="queryResultsHeader1">
        <label th:text="${gamesPlayer[0].playerLastName}  +  ', ' + ${gamesPlayer[0].playerFirstName}"></label>
        <br>
        <div class="queryResultsHeader2">
            <label th:text="'Bats - ' + ${gamesPlayer[0].playerBatsText}"></label>
            <br>
            <label th:text="'Throws - ' + ${gamesPlayer[0].playerThrowsText}"></label>
            <br>
            <label th:text="'Season - ' + ${gamesPlayer[0].year}"></label>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 rightSide no-gutters">
            <table class="centeredTable table-condensed">
                <tr>
                    <th>Game Date</th>
                    <th>Game Type</th>
                    <th></th>

                    <th>Visiting Team</th>
                    <th>Home Team</th>

                    <th>Player</th>
                    <th>Field Position</th>
                    <th>Batting Order</th>





                </tr>

                <tr th:each="game : ${gamesPlayer}">
                    <td><a th:href="@{/playball/gamePlayer(year=${game.year}, gameId=${game.gameId}, playerId='', option='game')}" th:text="${game.date}"/></td>

                    <td th:text="${game.gameTypeText }"></td>

                    <td th:text="'Game ' + ${game.gameNumText } + ' ' + ${game.dayNightText } + ' game'"></td>

                    <td th:text="${game.visitingTeamCity } + ' ' + ${game.visitingTeamName } + ' - ' + ${game.visitingTeamLeagueText } + ' League'"></td>
                    <td th:text="${game.homeTeamCity } + ' ' + ${game.homeTeamName } + ' - ' + ${game.homeTeamLeagueText } + ' League'"></td>


                    <td th:text="${game.playerVisitHomeText } + ' team ' + ${game.playerStartSubText } + ' player'"></td>
                    <td th:text="${game.playerFieldPositionText }"></td>


                    <td>
                        <span th:if="${game.playerBattingOrder != 10 and game.playerBattingOrder != 0}" th:text="${game.playerBattingOrder}"></span>
                    </td>


                </tr>
            </table>
        </div>
    </div>


</div>
</body>
</html>